{% load static %}

<!-- TESTIMONIAL SECTION START -->
<div class="section-full p-t80 p-b50 overlay-wraper bg-parallax"  data-stellar-background-ratio="0.5"  style="background-image:url({% static 'images/background/bg9.jpg' %})">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <!-- TITLE START -->
        <div class="section-head text-center text-white">
            <h2 class="text-uppercase">What Our Client Say</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square has-bg">
                    <span class="separator-left site-bg-primary"></span>
                    <span class="separator-right site-bg-primary"></span>
                </div>
            </div>
        </div>
        <!-- TITLE END -->
        
        <!-- TESTIMONIAL 1 START ON BACKGROUND -->
        <div class="section-content">
            <div class="owl-carousel testimonial-one m-b30">
                <div class="item">
                    <div class="testimonial-1 testimonial-bg">
                        <div class="testimonial-pic  radius shadow"><img src="{% static 'images/testimonials/pic1.jpg' %}" width="100" height="100" alt=""></div>
                                    <div class="testimonial-detail">
                                        <strong class="testimonial-name">Steve Jobs</strong>
                                        <span class="testimonial-position">Cfo Loop Inc</span>
                                    </div>
                                    <div class="testimonial-text">
                                        <p> Excellent Customer support!.The template itself is very extended. simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy  simply dummy text. Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-1 testimonial-bg">
                                    <div class="testimonial-pic  radius shadow"><img src="{% static 'images/testimonials/pic2.jpg' %}" width="100" height="100" alt=""></div>
                                    <div class="testimonial-detail">
                                        <strong class="testimonial-name">Steve Jobs</strong>
                                        <span class="testimonial-position">Cfo Loop Inc</span>
                                    </div>
                                    <div class="testimonial-text">
                                        <p> Excellent Customer support!.The template itself is very extended. simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy  simply dummy text. Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-1 testimonial-bg">
                                    <div class="testimonial-pic  radius shadow"><img src="{% static 'images/testimonials/pic3.jpg' %}" width="100" height="100" alt=""></div>
                                    <div class="testimonial-detail">
                                        <strong class="testimonial-name">Steve Jobs</strong>
                                        <span class="testimonial-position">Cfo Loop Inc</span>
                                    </div>
                                    <div class="testimonial-text">
                                        <p> Excellent Customer support!.The template itself is very extended. simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy  simply dummy text. Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TESTIMONIAL SECTION START --> 
</div>