{% load static %}
 <!-- SERVICES START  -->         
<div class="section-full bg-white p-t80 p-b40 scale-bg-top scale-bg-bottom">
    <div class="container">
        <!-- IMAGE CAROUSEL START -->
        
            <!-- TITLE START -->
            <div class="section-head text-center">
                <h2 class="text-uppercase">Our Services</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator style-square">
                        <span class="separator-left site-bg-primary"></span>
                        <span class="separator-right site-bg-primary"></span>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <!-- TITLE END -->
            
            <!-- CAROUSEL -->
            <div class="section-content">
                
                <div class="owl-carousel Home-services-carousel owl-btn-vertical-center">
                
                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <a href="services-detail.html"><img src="{% static 'images/our-work/pic1.jpg' %}" alt=""></a>
                            </div>
                            <div class="wt-info p-tb30">
                                <h4 class="wt-title m-t0 m-b5"><a href="services-detail.html">Shopping Mall</a></h4>
                                <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius . </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <a href="services-detail.html"><img src="{% static 'images/our-work/pic2.jpg' %}" alt=""></a>
                            </div>
                            <div class="wt-info p-tb30">
                                <h4 class="wt-title m-t0 m-b5"><a href="services-detail.html">Hospital Building</a></h4>
                                <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius . </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <a href="services-detail.html"><img src="{% static 'images/our-work/pic3.jpg' %}" alt=""></a>
                            </div>
                            <div class="wt-info p-tb30">
                                <h4 class="wt-title m-t0 m-b5"><a href="services-detail.html">Garden House</a></h4>
                                <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius . </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <a href="services-detail.html"><img src="{% static 'images/our-work/pic1.jpg' %}" alt=""></a>
                            </div>
                            <div class="wt-info p-tb30">
                                <h4 class="wt-title m-t0 m-b5"><a href="services-detail.html">Shopping Mall</a></h4>
                                <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius . </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <a href="services-detail.html"><img src="{% static 'images/our-work/pic2.jpg' %}" alt=""></a>
                            </div>
                            <div class="wt-info p-tb30">
                                <h4 class="wt-title m-t0 m-b5"><a href="services-detail.html">Hospital Building</a></h4>
                                <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius . </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <a href="services-detail.html"><img src="{% static 'images/our-work/pic3.jpg' %}" alt=""></a>
                            </div>
                            <div class="wt-info p-tb30">
                                <h4 class="wt-title m-t0 m-b5"><a href="services-detail.html">Garden House</a></h4>
                                <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius . </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
    </div>
</div>
<!-- SERVICES CONTENT END -->   