{% load static %}


<!-- WHY CHOOSE US SECTION START  -->
<div class="section-full bg-gray p-t80 p-b50 bg-no-repeat bg-left-center" style="background-image:url({% static 'images/background/why-choose-pic-2.png' %});">
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head text-center">
            <h2 class="text-uppercase">Why Choose us</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left site-bg-primary"></span>
                    <span class="separator-right site-bg-primary"></span>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <!-- TITLE END-->
        <div class="section-content">
            <div class="row">
            
                <!-- COLUMNS 1 -->
                <div class="col-lg-4 col-md-6 col-sm-6 m-b10 animate_line">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white">
                        <div class="icon-lg site-text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="{% static 'images/icon/engineer.png' %}" alt=""></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase">BEST QUALITY</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-lg-4 col-md-6 col-sm-6 m-b10 animate_line">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white">
                        <div class="icon-lg site-text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="{% static 'images/icon/light-bulb.png' %}" alt=""></a>
                        </div>
                        <div class="icon-content ">
                            <h5 class="wt-tilte text-uppercase">INTEGRITY</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-lg-4 col-md-6 col-sm-6 m-b10 animate_line">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white">
                        <div class="icon-lg site-text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="{% static 'images/icon/compass.png' %}" alt=""></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase">STRATEGY</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 4 -->
                <div class="col-lg-4 col-md-6 col-sm-6 m-b10 animate_line">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white">
                        <div class="icon-lg site-text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="{% static 'images/icon/helmet.png' %}" alt=""></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase">SAFETY</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 5 -->
                <div class="col-lg-4 col-md-6 col-sm-6 m-b10 animate_line">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white">
                        <div class="icon-lg site-text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="{% static 'images/icon/brickwall.png' %}" alt=""></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase">COMMUNITY</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 6 -->
                <div class="col-lg-4 col-md-6 col-sm-6 m-b10 animate_line">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white">
                        <div class="icon-lg site-text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="{% static 'images/icon/no-entry.png' %}" alt=""></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase">SUSTAINABILITY</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- WHY CHOOSE US SECTION END  -->  
             