{% extends 'frontend/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% include 'features/slider/slider.html' %}
    {% include 'features/about/about.html' %}
    {% include 'features/services/services.html' %}
    {% include 'features/accordion/accordion.html' %}
    {% include 'features/portfolio/portfolio.html' %}
    {% include 'features/counter/counter.html' %}
    {% include 'features/whyChoose/whyChoose.html' %}
    {% include 'features/testimonial/testimonial.html' %}
    {% include 'features/blog/blog.html' %}
    {% include 'features/teams/team.html' %}
    {% include 'features/partner/partner.html' %}
{% endblock %}
