{% if sliders %}
    <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th>Title</th>
            <th>Button Text</th>
            <th>Button URL</th>
            <th>Image</th>
            <th>Status</th>
            <th>Created</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in sliders %}
            <tr>
                <td>{{ obj.title }}</td>
                <td>{{ obj.button_text }}</td>
                <td>{{ obj.button_url }}</td>
                <td>
                    {% if obj.is_active %} Activated {% else %}
                        Deactivated {% endif %}
                </td>
                <td>
                    {% if obj.image %}
                        <img width="50" src="{{ obj.image.url }}" alt="icon">
                    {% endif %}
                </td>
                <td>{{ obj.created_at }}</td>
                <td class="text-center">
                    <a
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Update the slider"
                            class="btn btn-sm btn-success"
                            href="{% url 'slider_update' obj.pk %}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Delete the slider"
                            class="btn btn-sm btn-danger"
                            href="{% url 'slider_delete' obj.pk %}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
