{% load static %}
                           
<!-- COMPANY DETAIL SECTION START -->
<div class="section-full  p-t50 p-b10 overlay-wraper bg-repeat"  data-stellar-background-ratio="0.5"  style="background-image:url({% static 'images/switcher/switcher-patterns/large/pt2.jpg' %})">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        
        <div class="section-content">
            <div class="row">
                    
                <div class="col-md-3 col-sm-6">
                    <div class="m-b30 text-white text-center">
                        <div class="icon-lg m-b20"><i class="fa fa-building"></i></div>
                        <div class="counter font-26 font-weight-800 m-b5">2500</div>
                        <span>PROJECT COMPLETED</span>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="m-b30 text-white text-center">
                        <div class="icon-lg m-b20"><i class="fa fa-users"></i></div>
                        <div class="font-26 font-weight-800 m-b5"><span class="counter">1500</span><b>+</b></div>
                        <span>HAPPY CLIENTS</span>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="m-b30  text-white text-center">
                        <div class="icon-lg m-b20"><i class="fa fa-user-plus"></i></div>
                        <div class="counter font-26 font-weight-800 m-b5">4500</div>
                        <span>WORKERS EMPLOYED</span>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="m-b30 text-white text-center">
                        <div class="icon-lg m-b20"><i class="fa fa-trophy"></i></div>
                        <div class="counter font-26 font-weight-800 m-b5">260</div>
                        <span>AWARDS WON</span>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
                
</div>
<!-- COMPANY DETAIL SECTION End -->     
