{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% if preference.favicon %}
        <link rel="shortcut icon" href="{{ preference.favicon.url }}" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{ preference.favicon.url }}"/>
    {% endif %}
    {% include 'backend/stylesheet.html' %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include 'backend/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        {% include 'backend/sidebar.html' %}
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content %} {% endblock %}

    </div><!-- /.content-wrapper -->
    {% include 'backend/footer.html' %}
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
{% include 'backend/script.html' %}
{% block script %} {% endblock %}
</body>
</html>
