{% load static %}

                                              
<!-- OUR TEAM MEMBER SECTION START -->
<div class="section-full text-center wt-our-team bg-white p-t80 p-b50 bg-no-repeat bg-bottom-center" style="background-image:url({% static 'images/background/bg-8.jpg' %});">
    <div class="container">
    
        <!-- TITTLE START -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">Our team</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left site-bg-primary"></span>
                    <span class="separator-right site-bg-primary"></span>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <!-- TITLE END -->
        
        <div class="section-content">
            <div class="row">
            
                <!-- COLUMNS 1 -->
                <div class="col-md-4 col-sm-4  m-tb15">
                    <div class="wt-team-one bg-gray-light">
                        <div class="wt-team-media">
                            <a href="our-team-detail.html"><img src="{% static 'images/our-team4/pic1.jpg' %}" class="" alt=""></a>
                        </div>
                        <div class="wt-team-info text-center bg-gray-light-1 p-a20">
                            <h4 class="wt-team-title"><a href="our-team-detail.html">Richard Wagner</a></h4>
                            <p>Consultant</p>
                            <ul class="social-icons social-square social-dark">
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-md-4 col-sm-4 m-tb15">
                    <div class="wt-team-one bg-gray-light">
                        <div class="wt-team-media ">
                            <a href="our-team-detail.html"><img src="{% static 'images/our-team4/pic2.jpg' %}" alt=""></a>
                        </div>
                        <div class="wt-team-info text-center bg-gray-light-1 p-a20">
                            <h4 class="wt-team-title"><a href="our-team-detail.html">Lisa Anderson</a></h4>
                            <p>Ceo &amp; Founder</p>
                            <ul class="social-icons social-square social-dark">
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-md-4 col-sm-4  m-tb15">
                    <div class="wt-team-one  bg-gray-light">
                        <div class="wt-team-media">
                            <a href="our-team-detail.html"><img src="{% static 'images/our-team4/pic4.jpg' %}" alt=""></a>
                        </div>
                        <div class="wt-team-info text-center bg-gray-light-1 p-a20">
                            <h4 class="wt-team-title"><a href="our-team-detail.html">Tommy Atkins</a></h4>
                            <p>Manager</p>
                            <ul class="social-icons social-square social-dark">
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>
</div>
<!-- OUR TEAM MEMBER SECTION END -->
