{% load static %}

 <!-- LATEST BLOG SECTION START -->
<div class="section-full latest-blog bg-gray p-t80 p-b50 ">
    <div class="container">
        <!-- TITLE -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">Latest blog post</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left site-bg-primary"></span>
                    <span class="separator-right site-bg-primary"></span>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <!-- TITLE -->
        
        <div class="section-content ">
            <div class="row equal-wraper">
                <!-- COLUMNS 1 -->
                <div class="col-lg-6 col-md-12">
                    <div class="blog-post latest-blog-3 overlay-wraper post-overlay date-style-2 bg-cover bg-no-repeat bg-top-center" style="background-image:url({% static 'images/large-blog.jpg' %});">
                        <div class="overlay-main opacity-03 bg-secondry"></div>
                        <div class="wt-post-info p-a30 p-b20 text-white">
                            <div class="post-overlay-position">
                                <div class="wt-post-title ">
                                    <h3 class="post-title"><a href="blog-single.html" class="text-white text-capitalize">Expert & Professional</a></h3>
                                </div>
                                <div class="wt-post-meta ">
                                    <ul>
                                        <li class="post-date"><i class="fa fa-calendar"></i><strong>6 Jan</strong> <span> 2018</span></li>
                                        <li class="post-author"><i class="fa fa-user"></i>By <a href="blog-single.html">Admin</a> </li>
                                        <li class="post-comment"><i class="fa fa-comments"></i> <a href="blog-single.html">2 comment</a> </li>
                                    </ul>
                                </div>
                                <div class="wt-post-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-12">
                
                    <div class="blog-post latest-blog-3 blog-md date-style-2 clearfix">
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="blog-single.html"><img src="{% static 'images/blog/grid/pic2.jpg' %}" alt=""></a>
                        </div>
                        <div class="wt-post-info">
                            <div class="wt-post-title ">
                                <h4 class="post-title font-weight-800"><a href="blog-single.html">High Quality Work</a></h4>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2022</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="blog-single.html">By <span>John</span></a> </li>
                                    <li class="post-comment"><i class="fa fa-comments"></i> <a href="blog-single.html">0</a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Lorem Ipsum is simply dummy text of printing and typesetting Ipsum has been the industry's dummy</p> 
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="blog-post latest-blog-3 blog-md date-style-2 clearfix">
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="blog-single.html"><img src="{% static 'images/blog/grid/pic1.jpg' %}" alt=""></a>
                        </div>
                        <div class="wt-post-info">
                            <div class="wt-post-title ">
                                <h4 class="post-title font-weight-800"><a href="blog-single.html">Satisfection Guarantee</a></h4>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2022</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="blog-single.html">By <span>John</span></a> </li>
                                    <li class="post-comment"><i class="fa fa-comments"></i> <a href="blog-single.html">0</a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Lorem Ipsum is simply dummy text of printing and typesetting Ipsum has been the industry's dummy</p> 
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="blog-post latest-blog-3 blog-md date-style-2 clearfix">
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="blog-single.html"><img src="{% static 'images/blog/grid/pic5.jpg' %}" alt=""></a>
                        </div>
                        <div class="wt-post-info">
                            <div class="wt-post-title ">
                                <h4 class="post-title font-weight-800"><a href="blog-single.html">Professional Approach</a></h4>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2022</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="blog-single.html">By <span>John</span></a> </li>
                                    <li class="post-comment"><i class="fa fa-comments"></i> <a href="blog-single.html">0</a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Lorem Ipsum is simply dummy text of printing and typesetting Ipsum has been the industry's dummy</p> 
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LATEST BLOG SECTION END -->  
