{% load static %}


<!-- LATEST PROJECT SECTION START -->
<div class="section-full bg-white p-tb80 scale-bg-top scale-bg-bottom">

    <div class="container">
        <div class="section-head text-center">
        
            <h2 class="text-uppercase ">Latest Projects</h2>
            
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left site-bg-primary"></span>
                    <span class="separator-right site-bg-primary"></span>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            
            <div class="filter-wrap center">
                <ul class="masonry-filter link-style  text-uppercase">
                    <li class="active"><a data-filter="*" href="#"><span> All</span></a></li>
                    <li><a data-filter=".cat-1" href="#">House</a></li>
                    <li><a data-filter=".cat-2" href="#">Building</a></li>
                    <li><a data-filter=".cat-3" href="#">Office</a></li>
                    <li><a data-filter=".cat-4" href="#">Garden</a></li>
                    <li><a data-filter=".cat-5" href="#">Interior</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="portfolio-wrap mfp-gallery  row g-0 ">
        
            <!-- COLUMNS 1 --> 
            <div class="masonry-item cat-1 col-xl-4 col-lg-4 col-md-6">
                <div class="wt-gallery-bx">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow">
                        <a href="portfolio-detail.html">
                            <img src="{% static 'images/latest-projects/pic1.jpg' %}"  alt="">
                        </a>
                        <div class="overlay-bx">
                            <div class="overlay-icon">
                                <a href="portfolio-detail.html">
                                    <i class="fa fa-external-link wt-icon-box-xs"></i>
                                </a>
                                <a href="images/gallery/pic1.jpg" class="mfp-link">
                                    <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMNS 2 --> 
            <div class="masonry-item cat-2 col-xl-4 col-lg-4 col-md-6">
                <div class="wt-gallery-bx">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow wt-img-effect zoom">
                        <a href="portfolio-detail.html">
                            <img src="{% static 'images/latest-projects/pic2.jpg' %}"  alt="">
                        </a>
                        <div class="overlay-bx">
                            <div class="overlay-icon">
                                <a href="portfolio-detail.html">
                                    <i class="fa fa-external-link wt-icon-box-xs"></i>
                                </a>
                                <a href="images/gallery/pic2.jpg" class="mfp-link">
                                    <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMNS 3 --> 
            <div class="masonry-item cat-3 col-xl-4 col-lg-4 col-md-6">
                <div class="wt-gallery-bx">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow">
                        <a href="portfolio-detail.html">
                            <img src="{% static 'images/latest-projects/pic3.jpg' %}"  alt="">
                        </a>
                        <div class="overlay-bx">
                            <div class="overlay-icon">
                                <a href="portfolio-detail.html">
                                    <i class="fa fa-external-link wt-icon-box-xs"></i>
                                </a>
                                <a href="images/gallery/pic3.jpg" class="mfp-link">
                                    <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMNS 4 --> 
            <div class="masonry-item cat-4 col-xl-4 col-lg-4 col-md-6">
                <div class="wt-gallery-bx">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow">
                        <a href="portfolio-detail.html">
                            <img src="{% static 'images/latest-projects/pic4.jpg' %}"  alt="">
                        </a>
                        <div class="overlay-bx">
                            <div class="overlay-icon">
                                <a href="portfolio-detail.html">
                                    <i class="fa fa-external-link wt-icon-box-xs"></i>
                                </a>
                                <a href="{% static 'images/gallery/pic4.jpg' %}" class="mfp-link">
                                    <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMNS 5 --> 
            <div class="masonry-item cat-5 col-xl-4 col-lg-4 col-md-6">
                <div class="wt-gallery-bx">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow">
                        <a href="portfolio-detail.html">
                            <img src="{% static 'images/latest-projects/pic5.jpg' %}"  alt="">
                        </a>
                        <div class="overlay-bx">
                            <div class="overlay-icon">
                                <a href="portfolio-detail.html">
                                    <i class="fa fa-external-link wt-icon-box-xs"></i>
                                </a>
                                <a href="images/gallery/pic5.jpg" class="mfp-link">
                                    <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMNS 6 --> 
            <div class="masonry-item cat-4 col-xl-4 col-lg-4 col-md-6">
                <div class="wt-gallery-bx">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow">
                        <a href="portfolio-detail.html">
                            <img src="{% static 'images/latest-projects/pic6.jpg' %}"  alt="">
                        </a>
                        <div class="overlay-bx">
                            <div class="overlay-icon">
                                <a href="portfolio-detail.html">
                                    <i class="fa fa-external-link wt-icon-box-xs"></i>
                                </a>
                                <a href="images/gallery/pic6.jpg" class="mfp-link">
                                    <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
<!-- LATEST PROJECT SECTION END -->
 