{% load static %}


<!-- SECTION CONTENT START -->
<div class="section-full  p-t80 p-b50 bg-no-repeat bg-cover " style="background-image:url({% static 'images/background/bg5.jpg' %});">
            	
    <div class="container">
            
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="wt-box graph-tabing tw-acd-wrap">
                    <div class="wt-accordion acc-site-bg-primary acc-has-bg" id="accordion6">
                        <div class="panel wt-panel">
                        
                            <div class="acod-head acc-actives">
                                    <h6 class="acod-title text-uppercase">
                                    <a data-bs-toggle="collapse" href="javascript:;" data-bs-target="#collapseOne6" ><i class="fa fa-globe"></i>
                                        When was the Constitution adopted?
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                    </h6>
                            </div>
                            
                            <div id="collapseOne6" class="acod-body collapse show" data-bs-parent="#accordion6">
                                <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting and industry. lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to is make a type is specimen book. It has survived not only five centuries, but also  leap into and electronic typesetting, remaining essentially unchanged. It was popularised sheets containing lorem Ipsum passagese.popularised sheets containing lorem Ipsum passagese.</div>
                            </div>
                            
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                    <h6 class="acod-title text-uppercase">
                                    <a data-bs-toggle="collapse" class="collapsed" href="javascript:;" data-bs-target="#collapseTwo6"><i class="fa fa-photo"></i>
                                    What is the necessity of the Preamble? 
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                    </h6>
                            </div>
                            <div id="collapseTwo6" class="acod-body collapse" data-bs-parent="#accordion6" >
                                <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting and industry. lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to is make a type is specimen book. It has survived not only five centuries, but also  leap into and electronic typesetting, remaining essentially unchanged. It was popularised sheets containing lorem Ipsum passagese.popularised sheets containing lorem Ipsum passagese.</div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse" class="collapsed"  href="javascript:;" data-bs-target="#collapseThree6"><i class="fa fa-cog"></i>
                                When did the Constitution come into force? 
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                                </h6>
                            </div>
                            <div id="collapseThree6" class="acod-body collapse" data-bs-parent="#accordion6">
                                <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting and industry. lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to is make a type is specimen book. It has survived not only five centuries, but also  leap into and electronic typesetting, remaining essentially unchanged. It was popularised sheets containing lorem Ipsum passagese.popularised sheets containing lorem Ipsum passagese.</div>
                            </div>
                        </div>
                    </div>
                </div>                               
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="wt-box graph-part-right text-white">
                    <strong class="text-uppercase title-first display-block">Construction</strong>
                    <span class="text-uppercase site-text-primary display-block title-second">What are you looking for?</span>
                    <p><strong>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book.</strong></p>
                    <ul class="list-check-circle primary">
                        <li>Simply dummy text of the Lorem Ipsum is printing and type setting. </li>
                        <li>Dummy text of the printing and typesetting industry. Text of the printing</li>
                        <li>And typesetting industry Lorem Ipsum has been. Ipsum has been the </li>
                        <li>Industry's standard dummy since the 1500s, </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- SECTION CONTENT  END -->
 