{% load static %}


           
<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-t80 p-b50 bg-gray">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase">About Company </h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left site-bg-primary"></span>
                    <span class="separator-right site-bg-primary"></span>
                </div>
            </div>
            <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 m-b30">
                <div class="about-com-pic-2">
                    <img src="{% static 'images/about-pic4.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-types row">
                    <div class="col-lg-6 col-md-6 m-b30">
                        <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                            <div class="icon-lg site-text-primary m-b20">
                                <span class="icon-cell site-text-primary"><img src="{% static 'images/icon/home.png' %}" alt=""></span>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Building</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30">
                        <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                            <div class="icon-lg site-text-primary m-b20">
                                <span class="icon-cell site-text-primary"><img src="{% static 'images/icon/paint-brush.png' %}" alt=""></span>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Renovation</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30">
                        <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                            <div class="icon-lg site-text-primary  m-b20">
                                <span class="icon-cell site-text-primary"><img src="{% static 'images/icon/jackhammer.png' %}" alt=""></span>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Digging</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30">
                        <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                            <div class="icon-lg site-text-primary m-b20">
                                <span class="icon-cell site-text-primary"><img src="{% static 'images/icon/window.png' %}" alt=""></span>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">interior</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
<!-- ABOUT COMPANY SECTION END -->