{% load static %}


<!-- JAVASCRIPT  FILES ========================================= --> 
<script   src="{% static 'js/jquery-3.6.1.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script   src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script   src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script   src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script   src="{% static 'js/jquery.bootstrap-touchspin.min.js' %}"></script><!-- FORM JS -->
<script   src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script   src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script   src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script   src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- COUNTERUP JS -->
<script   src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script   src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script   src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script   src="{% static 'js/scrolla.min.js' %}"></script><!-- ON SCROLL CONTENT ANIMTE   --> 
<script   src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script   src="{% static 'js/shortcode.js' %}"></script><!-- SHORTCODE FUCTIONS  -->
<script   src="{% static 'js/switcher.js' %}"></script><!-- SWITCHER FUCTIONS  -->

<!-- SLIDER REVOLUTION -->
<script  src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script  src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script  src="{% static 'plugins/revolution/revolution/js/extensions/revolution-plugin.js' %}"></script>

<!-- REVOLUTION SLIDER SCRIPT FILES -->
<script  src="{% static 'js/rev-script-4.js' %}"></script>
