{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.min.css' %}"><!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}"><!-- ANIMATE STYLE SHEET --> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"><!-- BOOTSTRAP SELECT BOX STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.min.css' %}"><!-- LOADER STYLE SHEET -->   
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"><!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" class="skin" href="{% static 'css/skin/skin-1.css' %}"><!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/switcher.css' %}"><!-- SIDE SWITCHER STYLE SHEET -->   

    
    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">
    
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Crete+Round:400,400i&amp;subset=latin-ext" rel="stylesheet">
 